<app-breadcrumb [title]="'FAQ'" [breadcrumb]="'FAQ'"></app-breadcrumb>
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <ngb-accordion [closeOthers]="true" activeIds="static-1" class="accordion theme-accordion" id="accordionExample">
                    <ngb-panel id="static-1" title=" How do I place an order?">
                        <ng-template ngbPanelContent>
                            <p>Follow five simple steps to place your order:</p>
                            <p>1- Go to Categories and then select the specific category.</p>
                            <p>2- Add your desired items to the cart by clicking on the "Add to cart" button.</p>
                            <p>3- Now, click on the cart and then click on the "Check Out" button.</p>
                            <p>4- click on login if you have already created your account otherwise click on signup.</p>
                            <p>5- Add you address and location details and then click on the "Place Order" button.</p>
                        
                            <p>And you are done! Now, your order will be delivered to you within 90 minutes if you choose delivery day today!
                            </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2" title=" What are the timings of the store?">
                        <ng-template ngbPanelContent>
                            <p>
                                Inzcart is operational from 08:30AM to 06:00PM saturday through thrusday. If you place an order outside this time, your order will be scheduled for the next day. We will call you for confirmation of your order the next day.
                            </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-3" title="How do I know my order confirmation?">
                        <ng-template ngbPanelContent>
                            <p>
                                Just go to My Orders List and there you will see the status of your order.
                            </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-4" title=" There are items in my cart, how do I check out?">
                        <ng-template ngbPanelContent>
                            <p>
                                Navigate to your cart and click "Checkout" button. Then login to your account if you have already created your account otherwise signup and then enter your location details and then click on the "Place Order" button. 
                            </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-5" title="Can I place two orders from the same account in one day?">
                        <ng-template ngbPanelContent>
                            <p>
                                Yes you can!
                            </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-6" title="Can I place two orders from the same account at the same time?">
                        <ng-template ngbPanelContent>
                            <p>Yes, you can! </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-8" title="Can I cancel my order?">
                        <ng-template ngbPanelContent>
                            <p>NO, You cannot cancel your order after confirmation. </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-9" title="One of the items I received was damaged. What is the process to get it fixed?">
                        <ng-template ngbPanelContent>
                            <p>You can get back refund or replacement of that item. </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-10" title="What payment methods are available? ">
                        <ng-template ngbPanelContent>
                            <p>Cash on Delivery (COD) </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-11" title="What are your delivery times? ">
                        <ng-template ngbPanelContent>
                            <p>We have two options available for delivery. </p>
                            <p><b>Today:</b> If you have placed your order for today then you will receive your order within 60 minutes</p>
                            <p><b>Schedule:</b> You can schedule your delivery at a time of your convenience. </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-12" title="Can I tip my rider? ">
                        <ng-template ngbPanelContent>
                            <p>Yes, you can! All tips go directly to our riders and you can tip your rider when they come to drop off your order. </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-13" title="How much time do you take to deliver? ">
                        <ng-template ngbPanelContent>
                            <p>If you have placed order for today delivery then you will receive your order within 60 minutes </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-14" title="What is scheduled delivery? ">
                        <ng-template ngbPanelContent>
                            <p>Scheduled delivery allows you to choose the time of delivery as per your convenience. 
                                Our team will deliver the order to you on your selected date and time! </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-15" title="What are the delivery charges? ">
                        <ng-template ngbPanelContent>
                            <p>Our delivery charges are a flat Rs.30 for a single order. </p>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-16" title="Is there a minimum order limit? ">
                        <ng-template ngbPanelContent>
                            <p>No, there is no limit. </p>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion> -->
            </div>
        </div>
    </div>
</section>
<!--Section ends-->