<app-breadcrumb [title]="'Forget Password'" [breadcrumb]="'Forget Password'"></app-breadcrumb>
<!-- section start -->
<section class="pwd-page">
    <div class="container">
        <div *ngIf="!isUpdatePassword" class="row">
            <div *ngIf="!CodeVerfication" class="col-lg-6 offset-lg-3">
                <h2>Forget Your Password</h2>
                <form  class="theme-form" [formGroup]="forgotPasswordForm">
                    <div class="form-row" >
                        <!-- Phone Number Area -->
                        <div  class="col-md-12" form-group>
                            <!-- <input type="text" class="form-control" id="email" placeholder="Enter Your Email" required=""> -->
                        
                            <input  class="form-control" id="email" type="text" formControlName="email" 
                            required="" name="login[email]"
                                [formControl]="forgotPasswordForm.controls['email']" placeholder="Enter Your Phone Number"
                                [(ngModel)]="ForgotPasswordObj.email">
                            <div *ngIf=" forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.required"
                                class="text text-danger">
                                Phone Number Is Required
                            </div>
                            <div *ngIf=" forgotPasswordForm.controls.email.touched && forgotPasswordForm.controls.email.errors?.pattern"
                                class="text text-danger">
                                Please Enter Valid Phone Number
                            </div>
                        
                        </div>
                        <button  (click)="forgotPassword()" class="btn btn-solid">Submit</button>


                    </div>
                </form>
            </div>

            <div *ngIf="CodeVerfication" class="col-lg-6 offset-lg-3" >
                <h2> We Have Sent You A Verification Code On Your Phone Number  </h2>
                <form *ngIf="CodeVerfication" class="theme-form" [formGroup]="ageVerificationForm">
                    <div class="form-row">
                                                <!-- fire base code verfication area -->
                                                <div class="col-md-12" form-group >
                                                    <!-- <input type="text" class="form-control" id="email" placeholder="Enter Your Email" required=""> -->
                                                
                                                    <input    [(ngModel)]="code" type="text" name="town" 
                                                                    class="form-control"  
                                                                    [formControl]="ageVerificationForm.controls['code']" 
                                                                      placeholder="Enter Verification Code" autocomplete="off">
                                                                     <div *ngIf="ageVerificationForm.controls.code.touched && ageVerificationForm.controls.code.errors?.required" class="text text-danger">
                                                                     Code is required
                                                                    </div> 
                                                
                                                </div>
                                                <!-- <button *ngIf="CodeVerfication" (click)="forgotPassword()" class="btn btn-solid">Submit</button> -->
                                                <button type="submit" (click)="verifyLoginCode()" [disabled]="!ageVerificationForm.valid" 
                                                class="btn btn-solid">
                                                    Verify
                                                </button>
                    </div>
                </form>
            </div>
        </div>


        <div *ngIf="isUpdatePassword" class="row">
            <div class="col-lg-6 offset-lg-3">
                <h2>Update Your Password</h2>
                <form class="theme-form" [formGroup]="updatePasswordForm">
                    <div class="form-row" >
                        <!-- <div class="col-md-12" form-group>
                            <input class="form-control" id="email" type="text" 
                            formControlName="email" required="" name="update[email]"
                                [formControl]="updatePasswordForm.controls['email']" 
                                placeholder="Enter Your Phone Number"
                                [(ngModel)]="updatePassordObj.username">
                            <div *ngIf="updatePasswordForm.controls.email.touched && updatePasswordForm.controls.email.errors?.required"
                                class="text text-danger">
                                Phone Number is required
                            </div>
                            <div *ngIf="updatePasswordForm.controls.email.touched && updatePasswordForm.controls.email.errors?.pattern"
                                class="text text-danger">
                                Please Enter Valid Phone Number. E.g. 0321*******
                            </div>
                        </div> -->
                        <div class="col-md-12" form-group>
                            <input class="form-control" id="password" type="password" formControlName="password" required="" name="update[password]"
                                [formControl]="updatePasswordForm.controls['password']" placeholder="Enter Your Password"
                                [(ngModel)]="updatePassordObj.password">
                            <div *ngIf="updatePasswordForm.controls.password.touched && updatePasswordForm.controls.password.errors?.required"
                                class="text text-danger">
                                Password is required
                            </div>
                            <div *ngIf="updatePasswordForm.controls.password.touched && updatePasswordForm.controls.password.errors?.pattern"
                                    class="text text-danger">
                                    Password length must be greater than 5
                                </div>
                        </div>
                        <button (click)="onSubmit()" class="btn btn-solid">Submit</button>
                    </div>
                </form>
            </div>
        </div>





    </div>
</section>
<!--Section ends-->
<div id="recaptcha-container" ></div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size = "medium" color = "#02ce35" type = "ball-atom" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>